extends layout

block content

    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href='#') VRWorld
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='#')
                | Home
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/submit') Submit
    // Page Content
    .container
    #worlds
     
    // /.container
    // Footer
    footer.py-5.bg-dark
      .container
        p.m-0.text-center.text-white Copyright © Your Website 2018
      // /.container
    // Bootstrap core JavaScript
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.bundle.min.js')
    script(src='/javascripts/fetch.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')

